@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format(truetype);
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format(truetype);
}

:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--Stone-100);
  color: var(--Stone-900);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.card-recipe {
  max-width: 750px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  border-radius: 10px;
  padding: 3%;
  gap: 20px;
  margin: 10% auto;
}

.card-recipe img {
  border-radius: 7px;
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  color: var(--Brown-800);
}

h3 {
  color: var(--Rose-800);
  margin-bottom: 0;
}

li,
table {
  padding: 4px;
  color: var(--Stone-600);
}

li::marker {
  color: var(--Brown-800);
}

ol li::marker {
  font-weight: 700;
}

p {
  color: var(--Stone-600);
  margin-top: 0;
}

.preparation-time {
  background-color: var(--Rose-50);
  padding: 0 15px;
  border-radius: 7px;
}

.preparation-time ul li::marker {
  color: var(--Rose-800);
}

table tr td {
  border-bottom: solid 1px var(--Stone-150);
  padding: 7px;
}

table tr td span {
  color: var(--Brown-800);
  font-weight: 600;
}

hr {
  border: solid 1px var(--Stone-150);
  width: 100%;
}

@media (max-width: 375px) {
  .card-recipe {
    width: 100%;
    font-size: .9rem;
    gap: 10px;
  }
}
